  :root {
    --dark-blue: #20555e;
    --blue: #08658c;
    --light-gradient: radial-gradient(
      ellipse at center,
      #c8e9f4 80%,
      #78b7cd 100%
    );
    --onclick-gradient: radial-gradient(
      ellipse at center,
      #98bbc7 80%,
      #4b7e90 100%
    );
    --inactive-gradient: radial-gradient(
      ellipse at center,
      #aad3df 0%,
      #5d8b99 80%,
      #285057 100%
    );
    --button-gradient: radial-gradient(
      ellipse at center,
      #bbe3ef 0%,
      #5ccef1 40%,
      #1a91b5 100%
    );
    --tech-progress-gradient: linear-gradient(to top, #72afd2, #6196b5, #48738c);
    --progress-bar-gragient: linear-gradient(to top, #1b5679, #347498, #59acdd);
    --box-shadow: 0 0rem 0.1875rem rgb(0 0 0);
    --thin-shadow: 0 0rem 0.0625rem rgb(0 0 0);
    --bar-shadow: 0 0rem 0.1075rem rgb(0 0 0);
    --rounded-sm: 0.25rem;
    --rounded-md: 0.625rem;
    --rounded-lg: 0.5rem;
  }
  
  @mixin flex($dir: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $dir;
    justify-content: $justify;
    align-items: $align;
  }
  
  @mixin tech-cont {
    border-radius: var(--rounded-sm);
    display: flex;
    justify-content: space-around;
    color: var(--dark-blue);
    box-shadow: var(--box-shadow);
  } 

  @mixin dark-field {
    @include flex();
    background-color: rgba(19, 46, 65, 0.7);
    border-radius: var(--rounded-sm);
    color: white;
  }
  
  @mixin cost-container {
    @include flex(row, space-between);
    margin: 0.625rem auto;
    height: 1.375rem;
  }